USE [master]
GO
/****** Object:  Database [TrabajoGenerala]    Script Date: 29/11/2022 00:32:28 ******/
CREATE DATABASE [TrabajoGenerala]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabajoGenerala', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TrabajoGenerala.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrabajoGenerala_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TrabajoGenerala_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabajoGenerala].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabajoGenerala]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 29/11/2022 00:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [varchar](50) NOT NULL,
	[cantidadVictorias] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/11/2022 00:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [varchar](50) NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([id], [nombreCompleto], [cantidadVictorias]) VALUES (1, N'Anne Axten', 6)
INSERT [dbo].[Jugadores] ([id], [nombreCompleto], [cantidadVictorias]) VALUES (2, N'Barthel Titterton', 6)
INSERT [dbo].[Jugadores] ([id], [nombreCompleto], [cantidadVictorias]) VALUES (3, N'Auria Verduin', 6)
GO
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [nombreCompleto], [nombreUsuario], [contraseña], [email]) VALUES (1, N'Gianni Maggiori', N'Tanito', N'admin1234', N'taniitoo@gmail.com')
INSERT [dbo].[Usuarios] ([Id], [nombreCompleto], [nombreUsuario], [contraseña], [email]) VALUES (2, N'Lucas Rodriguez', N'El Profe', N'superadmin', N'ejemplo@ejemplo.com')
INSERT [dbo].[Usuarios] ([Id], [nombreCompleto], [nombreUsuario], [contraseña], [email]) VALUES (3, N'Gianni', N'Tanito', N'1234', N'ejemplo@ejemplo@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
